!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3

*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3

.DS_Store
.idea/

build/
DerivedData
Pods/
xcuserdata

*.xcscmblueprint
*.xccheckout

timeline.xctimeline
playground.xcworkspace

JetRadarScreenshots/screenshots
AviasalesSDK/FrameworkOutput/*

culprits.txt
xcodebuild.log
compile_commands.json
oclint-output.html

vendor/bundle

fastlane/report.xml

output/

# Hotellook
Carthage/
FrameworkOutput/
screenshots/

# ASTemplate
as-template/vendor/bundle
as-template/vendor/AviasalesKit/Library
as-template/vendor/AviasalesKit/Resources
as-template/vendor/AviasalesKit/FileResources
